<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
    <title>SI Kependudukan</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{'/'}">SI Kependudukan</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{'/'}">Home</a></li>
            <li><a href="#">Cari Data</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>Sukses!</h2>
        <p th:text="'Penduduk dengan NIK ' + ${penduduk.nik} + ' sudah tidak aktif.'"></p>
    </div>
    <div class="col-md-2"></div>
</div>
</body>
</html>